:root{
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --bg-linear: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bg-orange: #F7931A;
    --bg-soft-orange: #FFE9D5;
    --bg-secondary-blue: #1A9AF7;
    --bg-soft-blue: #E7F5FF;
    --bg-warm-black: #201E1C;
    --bg-warm-black-1: #282623;
    --bg-grey: #BABABA;
    --bg-off-white: #FAF8F7;
    --bg-just-white: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-main{
    background: var(--bg-linear);
    width: 100%;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.header-title{
    width: 102px;
    height: 18px;
    font-family: var(--font-dm-sans);
    color: var(--bg-orange);
  
    
}

.header-icon{
    width: 37.45px;
    height: 24px;
   
}
.header-span{
    font-size: 24px;
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: bold;
    line-height: 26px;
    

}